<% if model.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <strong>入力内容にエラーがあります</strong>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      history.pushState('', '', location.href + '/edit')
    });
  </script>
<% end %>
