<div class="belt-admin"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <h4>Chats</h4>
    <% if @entries.exists? %>
    <table cellpadding="10" class='table table-hover table-inverse rowtable-index'>
      <thead>
        <tr style="background-color: #EEEEEE;" class="tr-border">
          <th colspan="1">更新日</th>
          <th>名前</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @entries.each do |entry| %>
        <tr class="tr-border">
          <td data-title="更新"><%= entry.room.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td data-title="名前"><%= entry.room.entries.find{ |e| e.user_id != @user.id }.user.name %>さん</td>
          <td><%= link_to 'チャットへ', admins_her_room_path(entry.room), class: "btn btn-link request_#{entry.room.id}" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <p>チャットはありません</p>
    <% end %>
    </div>
  </div>
</div>