<div class="belt"></div>

<div class='container'>
  <h4>Chatting with <%= @entries.find{ |e| e.user_id != current_user.id }.user.name %></h4>
  <button type="button" class="btn btn-link" onclick="hoge();">最新メッセージへ</button>

  <!--<div id="userID" data-user="<%#= current_user.id %>"></div>-->

  <div id="messages">
    <%= render @messages %>
  </div>
  <br>
  <div class='row'>
    <div class='col-md-10 col-lg-10'>
    <form>
   <label>新規メッセージ(Enterで送信):</label><br>
   <input type="text" data-behavior="room_speaker" data-user="<%= current_user.id %>" data-room="<%= @room.id %>" size="50">
   </form>
   </div>
  </div>
</div>

<style>
 /* .balloon {*/
 /*  position: relative;*/
 /*  display: inline-block;*/
 /*  padding: 10px;*/
   /*min-width: 120px;*/
 /*  max-width: 45%;*/
 /*  color: #555;*/
 /*  font-size: 15px;*/
 /*  background: #e0edff;*/
 /*  border-radius: 15px;*/
 /*  overflow-wrap : break-word;*/
 /*  text-align: left;*/
 /*}*/
 .date{
   font-size: 10px;
 }
 /*.row{*/
   /*margin-top: 30px;*/
 /*}*/

 .chat-box{
   padding: 50px;
 }
 .chat-box:not(:last-child){
   border-bottom: solid 1px #75c5b5;
 }
  .user-img{
    height: 50px;
    width: 50px;
    /*border-radius: 130px;*/
    object-fit: cover;
 }
</style>

<script>
function hoge(){
  var elm = document.documentElement;
  //scrollHeight ページの高さ clientHeight ブラウザの高さ
  var bottom = elm.scrollHeight - elm.clientHeight;
  //垂直方向へ移動
  window.scroll(0, bottom);
}
</script>