<div class="about">
  <img src="assets/daisy.jpg" alt="topimage">
  <p id="animation">About</p>
</div>
<div class='container'>
  <div class="row about-content">
    <div class="col-md-12 col-lg-12">
      <h1 class="text-center">Vision</h1>
      <p class="vision"><%= render 'public/homes/intro' %></p>
    </div>
  </div>
  <div class="row about-content">
    <div class="col-md-12 col-lg-12">
      <h1 class="text-center">Usage</h1>
    </div>
  </div>
  <%= render 'public/homes/usage' %>
</div>