<div class="belt"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
      <h4>Privacy policy</h4>
       <p><%= render 'public/homes/policy' %></p>
    </div>
  </div>
</div>