<div class="belt-admin"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <h4>Following</h4>
    <% if @users.exists? %>
    <table cellpadding="10" class='table table-hover table-inverse'>
      <thead>
        <tr style="background-color: #EEEEEE;">
          <th>名前</th>
          <th>一言</th>
          <th>依頼数</th>
          <th>投稿数</th>
        </tr>
      </thead>
      <tbody>
    　　<% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, admins_user_path(user), class: "btn btn-link" %></td>
          <td><%= user.introduction %></td>
          <td><%= link_to user.requests.count, admins_her_requests_path(user), class: "btn btn-link" %></td>
          <td><%= link_to user.posts.where(is_valid: true).count, admins_her_posts_path(user), class: "btn btn-link" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
    </div>
  </div>
</div>


<style>
  table{
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
  }
  tr{
    border-width: 1px 0;
    border-color: #CCCCCC;
    border-style: solid;
  }
</style>