<div class="belt-admin"></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12 col-lg-12'>
    <h4>Posts</h4>
    <table cellpadding="10" class='table table-hover table-inverse post-index-table rowtable-index'>
      <thead>
        <tr style="background-color: #EEEEEE;" class="tr-border">
          <th>投稿日</th>
          <th>投稿者</th>
          <th>タイトル</th>
          <th>内容</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <tr class="tr-border">
          <td><%= link_to post.created_at.strftime("%Y-%m-%d %H:%M"), admins_post_path(post), class: "btn btn-link admins_post_#{post.id}" %></td>
          <td data-title="投稿者"><%= post.user.name %></td>
          <td data-title="タイトル"><%= truncate(post.title, length:25) %></td>
          <td data-title="内容"><%= truncate(post.content, length:25) %></td>
          <td>
            <% if !post.user.is_valid %>
              <div style="color: gray;">非表示（退会）</div>
            <% elsif post.is_valid %>
              <div>表示中</div>
            <% else %>
              <div style="color: gray;">非表示</div>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>