<div class='row'>
  <div class='col-md-2 col-lg-2 d-flex align-items-center justify-content-center'>
    <%= attachment_image_tag post_comment.user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "post-user-img" %>
  </div>
  <div class='col-md-10 col-lg-10'>
    <span><strong><%= post_comment.user.name %></strong></span>
    <span class="date"><%= post_comment.created_at.strftime("%Y-%m-%d %H:%M")%></span>
    <p class="text"><%= post_comment.content %></p>
  </div>
</div>