<% post.post_comments.each do |post_comment| %>
  <% if post_comment.is_valid %>
    <hr>
    <% if post_comment.score <= 0.3 %>
      <div onclick="obj=document.getElementById('open-comment').style; obj.display=(obj.display=='none')?'block':'none';" class="text-left">
        <a style="cursor:pointer;" class="btn btn-link">このコメントはセンシティブな内容を含む可能性があります。表示しますか？</a>
      </div>
      <div id="open-comment" style="display:none;clear:both;">
        <%= render 'public/post_comments/delete_btn', post_comment: post_comment %>
        <%= render 'public/post_comments/content', post_comment: post_comment %>
      </div>
    <% else %>
      <%= render 'public/post_comments/delete_btn', post_comment: post_comment %>
      <%= render 'public/post_comments/content', post_comment: post_comment %>
    <% end %>
  <% end %>
<% end %>