/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

@font-face {
  font-family: 'LemonMilk';
  src: font-url('/assets/LemonMilkMedium-mLZYV.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LemonMilkLightItalic';
  src: font-url('/assets/LemonMilkLightItalic-7BjPE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.logo{
  font-family: 'LemonMilk';
  font-size: 30px;
}

h4{
  font-family: 'LemonMilkLightItalic';
  font-size: 30px;
  margin: 10px 0 10px 0;
}

// Copyright (c) 2021 by G V TANISH VETTRIVEL (https://codepen.io/gvtanish/pen/WNxWXjP)
.belt{
  width: 100%;
  height: 48px;
  background-color: #EEEEEE;
  background-size: 48px 48px;
  background-image: radial-gradient(
    transparent 20px,
    #ffffff 20px,
    #ffffff 24px,
    transparent 24px
  ),
  radial-gradient(
    transparent 20px,
    #ffffff 20px,
    #ffffff 24px,
    transparent 24px
  );
  background-position: 0 0 , 24px 24px;
}

// Copyright (c) 2021 by G V TANISH VETTRIVEL (https://codepen.io/gvtanish/pen/WNxWXjP)
.belt-admin{
  width: 100%;
  height: 48px;
  background-color: #75c5b5;
  background-size: 48px 48px;
  background-image: radial-gradient(
    transparent 20px,
    #ffffff 20px,
    #ffffff 24px,
    transparent 24px
  ),
  radial-gradient(
    transparent 20px,
    #ffffff 20px,
    #ffffff 24px,
    transparent 24px
  );
  background-position: 0 0 , 24px 24px;
}

// 共通
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

main{
  margin-top: 10px;
}

footer{
  margin-top: auto;
}

.link{
  color: gray;
}

.hidden{
 display: none;
}

.buttons{
  margin-top: 10px;
}

.regard{
  font-size: 15px;
  color: red;
}

table{
  table-layout: fixed;
  width: 100%;
}

.tr-border{
  border-width: 1px 0;
  border-color: #CCCCCC;
  border-style: solid;
}

th, td{
  overflow-wrap : break-word;
}

// public/homes/top
.top{
  position: relative;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
  opacity: 1;
  }
}

.top img{
  width: 100%;
  height: 650px;
  object-fit: cover;
  margin-bottom: 50px;
}

.top p{
  position: absolute;
  color: white;
  top: 70%;
  left: 40%;
  font-size: 40px;
  animation-name: fade;
  animation-duration: 1s;
 }

.top-content{
  height: 300px;
  font-size: 20px;
  line-height: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-content p{
  margin: 0;
}

.top-content2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.icons{
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center
}

i{
  color: #75c5b5;
}

.content-left, .content-center, .content-right{
  width: 30%;
}

.scrollanime{
  opacity: 0;
}

.fadeInUp{
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeInUp{
  0% {
      opacity: 0;
  }
  100% {
  opacity: 1;
  transform: translate(0);
  }
}

.downup{
  transform: translateY(100px);
}


// public/homes/about
.about{
  position: relative;
}

.about p{
  position: absolute;
  color: white;
  top: 70%;
  left: 46%;
  font-size: 40px;
  animation-name: fade;
  animation-duration: 1s;
}

.about img{
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.about-content{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center
}

.vision{
  margin-top: 50px;
	columns: 2;
	column-gap: 2em;
}

h1{
  color: #75c5b5;
}

.usages{
  margin: 30px 0;
  height:  250px;
}

.usages-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

// public/homes/result
.pagination{
  justify-content: center;
  padding-top: 10px;
}

// public/users/show, admins/users/show
.user-table{
  margin-top: 50px;
}

.user-img{
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.user-info{
  table-layout: fixed;
  width: 100%;
}

.flowers, .admin-flowers{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flowers img, .admin-flowers img{
  height: 180px;
  width: 180px;
  border-radius: 130px;
  object-fit: cover;
  overflow:	hidden;
	position: relative;
}

.flowers .img p, .admin-flowers .img p{
	text-align: center;
	padding-top: 80px;
	color: #fff;
}

.mask, .admin-mask{
	width: 180px;
	height:	180px;
  border-radius: 130px;
	position: absolute;
	top: 0;
	left: 15;
	opacity: 0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.2s ease;
	transition:	all 0.2s ease;
}

.flowers .img:hover .mask, .admin-flowers .img:hover .admin-mask{
	opacity: 1;
}

// admins/users/show
.admin-user-table{
  margin-top: 30px;
}

.admin-flowers{
  margin-top: 50px;
}

// public/users/edit
.edit-user-img{
  height: 150px;
}

// public/rooms/show
.balloon {
  position: relative;
  display: inline-block;
  margin-left: 240px;
  padding: 10px;
  max-width: 75%;
  color: #555;
  font-size: 15px;
  background: #EEEEEE;
  border-radius: 15px;
  overflow-wrap : break-word;
  text-align: left;
}

.balloon:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 30px;
  margin-left: -15px;
  border: 10px solid transparent;
  border-bottom: 10px solid #EEEEEE;
}

.date{
  font-size: 10px;
}

.chat-box{
  padding: 50px;
}

.chat-box:not(:last-child){
  border-bottom: solid 1px #75c5b5;
}

.chat-box p{
  overflow-wrap : break-word;
}

.chat-user-img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.arrow{
  color: #75c5b5;
  font-size: 30px;
}

// public/requests/show
.show-request-table{
  width: 70%;
}

// public/requests/index, admins/requests/index
.request-index-table, .post-index-table{
  margin-top: 20px;
}

// public/requests/index
.search-btn{
  margin-top: 10px;
}

.loupe{
  color: #75c5b5;
  font-size: 30px;
}

// public/posts/show
h5, .text{
  overflow-wrap : break-word;
}

.post-user-img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}

// public/contacts/thanks
.thanx{
  text-align:center;
  margin-top: 150px;
}


@media screen and (max-width:1024px) {
  // public/homes/top
  .top p{
    left: 36%;
    top: 60%;
  }

  // public/homes/about
  .about p{
    left: 45%;
    top: 60%;
  }


  // public/users/show, admins/users/show
  .flowers .img p, .admin-flowers .img p{
    z-index: 1;
  }

  .mask, .admin-mask {
	  opacity: initial;
	  background-color:	initial;
	  -webkit-transition:	initial;
	  transition: initial;
  }

  .flowers .img:hover .mask, .admin-flowers .img:hover .admin-mask{
	  opacity: initial;
  }

  // public/registrations/new
  .regard{
    margin-top: 50px;
  }
}


@media screen and (max-width:768px) {
  // public/homes/top
  .top p{
    top: 60%;
    left: 31%;
  }

  // public/homes/about
  .about p{
    top: 60%;
    left: 44%;
  }

  // public/users/show, admins/users/show
  .flowers, .admin-flowers{
    margin-top: 50px;
  }

  .flowers img, .admin-flowers img{
    position: absolute;
    height: 135px;
    width: 135px;
   }

  .blank{
    width: 135px;
    height: 135px;
    background-color: white;
  }

  .flowers .img p, .admin-flowers .img p{
    padding-top: 55px;
  }

  .mask, .admin-mask{
    height: 135px;
    width: 135px;
    position: relative;
  }
}


@media screen and (max-width:540px) {
    // ヘッダー
  .logo{
    font-size: 30px;
   }

  .navbar-collapse li{
    font-size: 25px;
  }

  // 共通
  h4{
    font-size: 30px;
  }

  th, td{
    overflow-wrap : break-word;
    font-size: 18px;
  }

  .rowtable-index,
  .rowtable-index td,
  .rowtable-index th{
    text-align: center;
  }

  .rowtable-index thead th{
    display: none;
  }

  .rowtable-index td:first-child{
    background: #EEEEEE;
    display: block;
  }

  .rowtable-index td{
    display: block;
  }

  .rowtable-index td[data-title]::before{
    color: gray;
    content: attr(data-title) " : ";
    display: inline;
  }

  // public/homes/top
  .top p{
  left: 24%;
  }

  .top img{
    height: 600px;
  }

  .top-content p{
    font-size: 20px;
  }

  .top-content2{
    flex-wrap: wrap;
  }

  .content-left, .content-center, .content-right{
    width: 100%;
    margin-bottom: 50px;
  }

  .icons{
    height: 200px;
  }


  p{
    font-size: 18px;
  }

  .btn{
    font-size: 18px;
  }

  // public/homes/about
  .about p{
    top: 60%;
    left: 39%;
    font-size: 35px;
  }

  .about img{
    height: 600px;
  }


  .about-content{
    margin-top: 50px;
  }

  .vision{
    margin-top: 30px;
    margin-bottom: 30px;
	  columns: 1;
  }

  h1{
    font-size: 35px;
  }

  .usages{
    height: auto;
    margin-bottom: 50px;
  }

  .usages-icons{
    height: 200px;
  }

  .about-btn{
    margin-right: 41%;
  }

  .about-btn-more{
    margin-right: 43%;
  }

  // public/users/show, admin/users/show
  .flowers, .admin-flowers{
    flex-wrap: wrap;
  }

  .flowers img, .admin-flowers img{
    position: absolute;
    height: 170px;
    width: 170px;
   }

  .blank{
    width: 170px;
    height: 170px;
    background-color: white;
  }

  .flowers .img p, .admin-flowers .img p{
    padding-top: 80px;
  }

  .mask, .admin-mask{
    height: 170px;
    width: 170px;
    position: relative;
  }

  .user-img{
    margin-bottom: 30px;
    height: 100px;
    width: 100px;
  }

  // public/users/edit
  .rowtable td{
    display: block;
  }

  .edit-user-img{
    height: 180px;
  }

  .text-form{
    width: 300px;
  }

  // public/sessions/new
  .login{
    text-align: center;
  }

  // public/rooms/show
  .balloon{
    margin-left: 0;
    margin-bottom: 30px;
  }

  // public/requests/show
  .show-request-table{
    width: 100%;
    margin-top: 20px;
  }

  .show-request-table th, .show-request-table td{
    display: block;
  }

  // public/registrations/new
  .regard{
    margin-top: initial;
  }

  // admin/posts/show
  .post-btn{
    margin-bottom: 30px;
  }
}

@media screen and (max-width:425px) {
  // public/homes/top
  .top p{
    font-size: 35px;
    left: 20%;
    top: 60%;
  }

  // public/homes/about
    .about-btn{
    margin-right: 36%;
  }

  .about-btn-more{
    margin-right: 38%;
  }


  // 共通
  .text-form{
    width: 240px;
  }
}


@media screen and (max-width:414px) {
  // public/homes/top
  .top-content{
    margin-bottom: 50px;
  }

  // public/users/show, admins/users/show
  .flowers, .admin-flowers{
    margin-top: 50px;
  }

  .flowers img, .admin-flowers img{
    position: absolute;
    height: 120px;
    width: 120px;
   }

  .blank{
    width: 120px;
    height: 120px;
    background-color: white;
  }

  .flowers .img p, .admin-flowers .img p{
    padding-top: 50px;
  }

  .mask, .admin-mask{
    height: 120px;
    width: 120px;
    position: relative;
  }
}


@media screen and (max-width:375px) {
  // public/homes/top
  .top img{
    height: 550px;
  }

  .icons{
    height: 150px;
  }

  // public/homes/about
  .about img{
    height: 550px;
  }

  .usages-icons{
    height: 150px;
  }

  // public/users/show, admins/users/show
  .flowers, .admin-flowers{
    margin-top: 50px;
  }

  .flowers img, .admin-flowers img{
    position: absolute;
    height: 160px;
    width: 160px;
   }

  .blank{
    width: 160px;
    height: 160px;
    background-color: white;
  }

  .flowers .img p, .admin-flowers .img p{
    padding-top: 70px;
  }

  .mask, .admin-mask{
    height: 160px;
    width: 160px;
    position: relative;
  }
}


@media screen and (max-width:320px) {
  // public/homes/top
  .top img{
    height: 430px;
  }

  .top p{
    left: 10%;
  }

  .top-content p{
    font-size: 18px;
  }

  // public/homes/about
  .about img{
    height: 430px;
  }

  .about p{
    left: 35%;
  }

  .about-btn{
    margin-right: 32%;
  }

  .about-btn-more{
    margin-right: 35%;
  }


  // public/users/show, admins/users/show
  .flowers, .admin-flowers{
    margin-top: 50px;
  }

  .flowers img, .admin-flowers img{
    position: absolute;
    height: 140px;
    width: 140px;
   }

  .blank{
    width: 140px;
    height: 140px;
    background-color: white;
  }

  .flowers .img p, .admin-flowers .img p{
    padding-top: 60px;
  }

  .mask, .admin-mask{
    height: 140px;
    width: 140px;
    position: relative;
  }

  // public/users/edit, admins/users/edit
  .user-img-btn{
    font-size: 13px;
  }
}

@media screen and (max-width:280px) {
    // public/homes/top
  .top p{
    left: 5%;
  }

  // public/homes/about
  .about p{
    left: 33%;
  }

  .about-btn{
    margin-right: 30%;
  }

  .about-btn-more{
    margin-right: 34%;
  }


  // public/users/show, admins/users/show
  .flowers, .admin-flowers{
    margin-top: 50px;
  }

  .flowers img, .admin-flowers img{
    position: absolute;
    height: 120px;
    width: 120px;
   }

  .blank{
    width: 120px;
    height: 120px;
    background-color: white;
  }

  .flowers .img p, .admin-flowers .img p{
    padding-top: 50px;
  }

  .mask, .admin-mask{
    height: 120px;
    width: 120px;
    position: relative;
  }
}