<div class="belt"></div>

<% if flash[:alert] %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12" style="text-align:center; margin-top: 100px;">
      <h3>本当に退会しますか？</h3>
      <br>
      <br>
      <p>退会すると、会員情報や</p>
      <p>依頼、投稿などが閲覧できなくなります。</p>
      <p>退会する場合は、「退会する」をクリックしてください。</p>
      <br>
      <br>
      <%= link_to '　退会しない　', root_path, class: "btn btn-outline-secondary" %>
      &emsp;
      <%= link_to '　退会する　', users_withdraw_path, method: :patch, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>