<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p><%= link_to 'PrivacyPolicy', privacy_policy_path %></p>
      </div>
    </div>
  </div>
</footer>

<style>
  footer{
    margin-top: auto;
  }
</style>